data/node-red/flows.json
[{"id":"a10e1f5b.12987","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f861f6a4.4e74e8","type":"MSSQL-CN","z":"","tdsVersion":"7_4","name":"SqlEdge","server":"AzureSQLEdge","port":"1433","encyption":true,"database":"","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"8bb9b02c.8d5db","type":"edgeclient","z":""},{"id":"cc5d20cf.5ae78","type":"debug","z":"a10e1f5b.12987","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":260,"wires":[]},{"id":"9aa50ee0.0250c","type":"MSSQL","z":"a10e1f5b.12987","mssqlCN":"f861f6a4.4e74e8","name":"SqlEdge","outField":"payload","returnType":0,"throwErrors":1,"query":"IF NOT EXISTS(SELECT * FROM sys.databases WHERE name = 'TestData') BEGIN\n    CREATE DATABASE [TestData]\nEND\n\nIF NOT EXISTS (SELECT * FROM sysobjects WHERE name='TestTable' and xtype='U')\nBEGIN\n    CREATE TABLE TestTable (id INT, tag NVARCHAR(50), value FLOAT(2));\nEND\n\nUSE TestData;\n\nIF NOT EXISTS (SELECT * FROM TestTable WHERE ID = 1)\n    INSERT INTO TestTable (id, tag, value) VALUES (1, 'ITEM_COUNT_GOOD', {{{payload.tag1}}});\nELSE\n    UPDATE TestTable SET value={{{payload.tag1}}} WHERE ID = 1;\n\nIF NOT EXISTS (SELECT * FROM TestTable WHERE ID = 2)\n    INSERT INTO TestTable (id, tag, value) VALUES (2, 'ITEM_COUNT_BAD', {{{payload.tag2}}});\nELSE\n    UPDATE TestTable SET value={{{payload.tag2}}} WHERE ID = 2;\n\nIF NOT EXISTS (SELECT * FROM TestTable WHERE ID = 3)\n    INSERT INTO TestTable (id, tag, value) VALUES (3, 'YIELD', {{{payload.tag3}}});\nELSE\n    UPDATE TestTable SET value={{{payload.tag3}}} WHERE ID = 3;\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":540,"y":260,"wires":[["cc5d20cf.5ae78"]]},{"id":"117aeb0.de40115","type":"inject","z":"a10e1f5b.12987","name":"Update values","topic":"","payload":"{}","payloadType":"json","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":260,"wires":[["2308625f.b198de"]]},{"id":"2308625f.b198de","type":"function","z":"a10e1f5b.12987","name":"Generate Tag Values","func":"var rnd = {\n    \"tag1\": Math.round(Math.random()*100),\n    \"tag2\": Math.round(Math.random()*100),\n    \"tag3\": Math.round(Math.random()*100)\n}\n\nmsg.payload = rnd;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["9aa50ee0.0250c"]]},{"id":"d967a115.0bd87","type":"MSSQL","z":"a10e1f5b.12987","mssqlCN":"f861f6a4.4e74e8","name":"SqlEdge","outField":"payload","returnType":0,"throwErrors":1,"query":"USE TestData;\n\nSELECT tag, value FROM TestTable;","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":300,"y":320,"wires":[["f96b696e.c680b8","353da12f.604cae"]]},{"id":"f96b696e.c680b8","type":"debug","z":"a10e1f5b.12987","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":320,"wires":[]},{"id":"18a3ac6b.1b1c54","type":"inject","z":"a10e1f5b.12987","name":"Get values","topic":"","payload":"{}","payloadType":"json","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":320,"wires":[["d967a115.0bd87"]]},{"id":"353da12f.604cae","type":"moduleoutput","z":"a10e1f5b.12987","client":"8bb9b02c.8d5db","output":"tags","x":580,"y":360,"wires":[]}]